/* header styles */

.header-main-div{
    max-width: 1184px;
    width: 90%;
    height: 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.ul-items{
    width: 428px;
    column-gap: 64px;
    display: flex;
}
.sign-up{
    display: flex;
}
.log{
    width: 105px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign{
    width: 115px;
    height: 49px;
    border-radius: 100px;
    background-color: #5D50C6;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#EEEEEE;
    
}
.li-tags{
font-family: 'Circular Std';
font-size: 14px;
font-weight: 700;
line-height: 16.8px;
color: #19182580;

}
.active{
    color: #222831;
}
.burger{
    display: none;
}

                /* main styles */
.section1-container{
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
    padding: 64px 0;
    display: flex;
   

} 
.sec1-right{
    width: 772px;
}
.img1{
    width: 100%;
}
.sec1-left{
    width: 412px;
    display: flex;
    flex-direction: column;
    row-gap: 43px;
}
.sec1-left-bottom{
    display: flex;
    column-gap: 16px;
    width: 338px;
}            
.sec1-left-bottom1{
    width: 141px;
    height: 49px;
    border-radius: 100px;
    background-color:#5D50C6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Circular Std;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color:#EEEEEE;
    
}   
.sec1-left-bottom2{
    width: 181px;
    height: 56px;
    border-radius: 100px;
    border: 1px solid #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Circular Std;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: #222831;
}
.h1{
font-family: 'Circular Std';
font-size: 69px;
font-weight: 700;
line-height: 82.8px;
text-align: left;
color:#000000;
}
.span1{
    color: #F85E9F;
}
.sec1-ptag1{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
text-align: left;
color: #19182580;
}

/* section-2 styles */
.section2{
    margin-top: 197px;
}
.section2-container{
    padding: 64px 0;
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
}
.sec2-up{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.sec2-up-right{
    display: flex;
    column-gap: 32px;
}
.arrow{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1918251A;

}
.arrow-color{
    background-color: #5D50C6;
}
.sec2-up-left-p{
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    text-align: left;
    color: #F85E9F;
}
.sec2-up-left-h3{
    font-family: Circular Std;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    color: #191825;
}
.sec2-down{
    width: 100%;
    display: flex;
    column-gap: 32px;
  
}
.sec2-down-mini{
    border-radius: 7%;
    box-shadow: 5px 5px 10px grey;
}
.fish-img{
    width: 100%;
}
.discr{
    margin: 32px;
    align-items: flex-start;
}

.discr-up{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.star{
    width: 66px;
    display: flex;
    margin-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
}
.space{   
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    color:  #191825;
}
.price{
   
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    color: #F85E9F;
}
.country{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color:#191825BF;
}
.raiting{
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    color: #FF5722;
}


/* section3 styles */
.section3-container{
    max-width: 1312px;
    width: 90%;
    padding: 64px 0;
    margin-bottom: 73px;
    display: flex;
}
.sec3-image{
    width: 100%;
}
.sec3-right{
    width: 441px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}
.sec3-boxes{
    width: 204.5px;
    height: 151px;
    border: 1px solid #1918251A;
    border-radius: 32px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 16px;
}
.sec3-right-down1,
.sec3-right-down2{
    display: flex;
    column-gap: 32px;
}
.sec3-right-down2{
    margin-top: 32px;
}
.sec3-h5{
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    text-align: left;
    color: #F85E9F;
    margin-bottom: 16px;
}
.sec3-h3{
    font-family: Circular Std;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    color:#191825;
    margin-bottom: 32px;
}
.sec3-p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #191825;
}
.p-active{
    color: #19182580;
}
.sec3-h4{
    font-family: Circular Std;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    color:#FF5722;
}

/* section4 styles */
.sec4-container{
    max-width: 1312px;
    width: 90%;
    margin: 0 auto;
    padding: 64px 0;
    margin-bottom: 99px;
}
.sec4-up{
    margin-bottom: 64px;
}
.sec4-down-mini{
    padding: 32px 0;
    display: flex;
    align-items: center;
}
.sec4-down-mini1{
    width: 100px;
    height: 100px;
    border-radius: 32px;
    margin:0 32px;
    background-color: #FF5722;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange{
    background-color: #FACD49;
}
.pink{
    background-color: #F85E9F;
}

                  /* footer styles */

.footer-container{
    max-width: 1184px;
    margin-left: 96px;
    margin-right: 160px;
    padding: 64px 0;
    display: flex;
    column-gap: 64px;
}               
.footer-left{
    width: 560px;
}   
.footer-p{
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 450;
    line-height: 36.8px;
    text-align: left;
    color: #19182580;
    margin-top: 32px;
    margin-bottom: 64px;
}
.footer-left-mini{
    display: flex;
    column-gap: 32px;
}
.footer-right{
    display: flex;
    column-gap: 32px;
}
.foot-h6{
    font-family: Circular Std;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    color: #191825;
    margin-bottom: 32px;
}
.foot-li{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color:#191825BF;
    margin-bottom: 32px;
}